---
---

<footer>
  <p>
    speedy-bird-lynx &bull; by <a href="https://github.com/jonathanperis">jonathanperis</a>
    &bull; original game by <a href="https://github.com/noanonoa" target="_blank" rel="noopener noreferrer">noanonoa</a>
    &bull; sprites from <a href="https://www.spriters-resource.com/" target="_blank" rel="noopener noreferrer">Spriters Resource</a>
  </p>
</footer>
