---
---

<nav>
  <div class="logo">Speedy Bird</div>
  <div class="nav-links">
    <a href="./play/">Play Now</a>
    <a href="./docs/">Docs</a>
    <a href="https://github.com/jonathanperis/speedy-bird-lynx">GitHub</a>
  </div>
</nav>
